* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-family: monospace;
    font-size: 20px;
}

body {
    text-align: center;
}

h1#score {
    font-size: 2.6rem;
    margin-top: 40px;
}

/* buttons */ 

.btns {
    display: flex;
    justify-content: center;
    margin: 40px 0;
}

.btns button {
    height: 120px;
    width: 130px;
    margin: 0 20px;
    background-color: transparent;
    border: none;
}

.btns button:hover {
    color: #ff5a5f;
}

i {
    font-size: 5rem;
    pointer-events: none;
}

#play-again {
    width: 8rem;
    height: 2rem;
    color: #3c3c3c;
    font-size: .8rem;
    border-radius: 5px;
    border: none;
}

#play-again:hover {
    background-color: #ff5a5f;
    color: white;
}


/* results */

h2#result {
    margin-bottom: 20px;
}

/* win/lose image */

.img-container {
    border: 4px inset #3c3c3c;
    height: 250px;
    width: 400px;
    margin: 40px auto;

}

img {
    width: 100%;
    height: 100%;
}





